---
import { info } from '@/data/info';

import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
import MetaHead from '@/components/MetaHead.astro';
import Experience from '@/components/Experience.astro';
import ProjectsWrapper from '@/components/ProjectsWrapper.astro';

import '@/styles/style.css';
---

<!doctype html>
<html lang='es'>
  <head>
    <MetaHead
      title={'Portfolio de Raul Nunez'}
      description={info.about}
      ogImageUrl={'assets/images/profile.webp'}
    />
  </head>
  <body>
    <Layout>
      <Hero
        name={info.name}
        about={info.about}
      />
      <Experience
        title={'Experiencia'}
        details={info.experience}
      />
      <Experience
        title={'Educación'}
        details={info.education}
      />
      <ProjectsWrapper
        title={'Proyectos'}
        projects={info.projects}
      />
    </Layout>
  </body>
</html>
