---
import type { IExperiences } from '@/types/';

const { title, details } = Astro.props as IExperiences;
---

<h3 class='mb-4 mt-6 text-xl font-semibold text-white'>{title}</h3>
{
  details.map((item) => (
    <ol class='relative flex flex-grow border-s border-gray-200 dark:border-gray-700'>
      <li class='mb-10 ms-4'>
        <div class='absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white bg-gray-200 dark:border-gray-900 dark:bg-gray-700' />
        <time class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'>
          {item.startDate} - {item.endDate}
        </time>
        <h3 class='text-lg font-semibold text-yellow-200'>{item.name}</h3>
        <p class='mb-4 text-pretty text-base font-normal text-gray-400'>
          {item.description.map((item) => (
            <ul>
              <li>{item}</li>
            </ul>
          ))}
        </p>
      </li>
    </ol>
  ))
}
