---
import { info } from '@/data/info';
import GithubIcon from '@/components/icons/GitHubIcon.astro';
import LinkedInIcon from '@/components/icons/LinkedInIcon.astro';
import MailIcon from '@/components/icons/MailIcon.astro';
import TwitterIcon from '@/components/icons/TwitterIcon.astro';
import type { ISocialBar } from '@/types';

const { title, id } = Astro.props as ISocialBar;
---

<section
  id={id}
  class='my-20 flex scroll-mt-24 flex-col lg:scroll-mt-16'>
  <h2 class='my-6'>
    {title}
  </h2>
  <article class='flex flex-wrap justify-center gap-5'>
    <a
      aria-label='email icon'
      href={info.socialMedia.email}
      target='_blank'
      class='social-icons aria-["email"]'>
      <MailIcon />
      eMail
    </a>
    <a
      aria-label='Github icon'
      href={info.socialMedia.github}
      target='_blank'
      class='social-icons'>
      <GithubIcon />
      Github
    </a>
    <a
      aria-label='LinkedIn icon'
      href={info.socialMedia.linkedin}
      target='_blank'
      class='social-icons aria-["LinkedIn"]'>
      <LinkedInIcon />
      LinkedIn
    </a>
    <a
      aria-label='Twitter icon'
      href={info.socialMedia.twitter}
      target='_blank'
      class='social-icons aria-["Twitter"]'>
      <TwitterIcon />
      Twitter
    </a>
  </article>
  <article>
    <a
      aria-label='Download CV icon'
      href={info.socialMedia.cv}
      target='_blank'
      class='aria-["Curriculum"] mt-5 flex justify-center self-center p-2 text-black/50 transition-all duration-300 hover:cursor-pointer hover:text-black dark:hover:text-white'
      download>
      Descargar curriculum
    </a>
  </article>
</section>
